- var segment = self && self.parent.split('/').slice(2).join('/').replace(/\.\w+$/, '')
- var url = `/${segment === 'index' ? '' : segment || ''}`;

mixin linkFor(path, title, external)
  - var target = external ? '_blank' : undefined;
  - var href = path.indexOf('://') === -1 ? `${ROOT || ''}${path}` : path;

  if path === url
    a(target=target aria-current='page' href=href)&attributes(attributes) #{title}
      if block
        block
  else
    a(target=target href=href)&attributes(attributes) #{title}
      if block
        block

mixin iconImage(name, forced)
  if forced || env.NODE_ENV !== 'production'
    srcFile(src=`src/resources/sprites/${name}.svg`)
  else
    svgIcon(src=name)
